@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=VT323&display=swap');

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

nav {
    width: 60%;
}

ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: auto;
}

@media(max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px;
    }

    ul {
        width: 50%;
        flex-direction: column;
        align-items: center;
        
    }
}